@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: oklch(96.79% 0.0654 102.26);
  --secondary-background: oklch(100% 0 0);
  --foreground: oklch(0% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(86.03% 0.176 92.36);
  --border: oklch(0% 0 0);
  --ring: oklch(0% 0 0);
  --overlay: oklch(0% 0 0 / 0.8);
  --shadow: 4px 4px 0px 0px var(--border);
  --border-radius: 5px;
  --box-shadow-x: 4px;
  --box-shadow-y: 4px;
  --reverse-box-shadow-x: -4px;
  --reverse-box-shadow-y: -4px;
  --base-font-weight: 500;
  --heading-font-weight: 700;
}

.dark {
  --background: oklch(29.28% 0.0373 94.38);
  --secondary-background: oklch(23.93% 0 0);
  --foreground: oklch(92.49% 0 0);
  --main-foreground: oklch(0% 0 0);
  --main: oklch(79.36% 0.1624 92.49);
  --border: oklch(0% 0 0);
  --ring: oklch(100% 0 0);
  --shadow: 4px 4px 0px 0px var(--border);
}

@layer base {
  .outline-ring\/50 {
    outline-color: rgba(var(--ring), 0.5);
  }
}

@layer utilities {
  .bg-background {
    background-color: var(--bg);
  }

  .text-foreground {
    color: var(--text);
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }
}